<main>
  <!-- Contenedor del formulario de contacto (fullscreen) -->
  <section
    class="relative min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8 bg-no-repeat bg-cover"
    style="background-image: url('/img/locations/Loft Kitanche/kitanche1.jpg');">

    <div class="absolute bg-black opacity-60 inset-0 z-0"></div>

    <div class="container mx-auto px-4 relative z-10">
      <h2 class="text-3xl font-semibold mb-8 text-center text-white">Ponte en contacto con nosotros</h2>

      <shared-contact-form />
    </div>
  </section>
</main>
