<!-- Portada -->
<section class="relative h-96 bg-cover bg-center z-10" style="background-image: url('img/locations/zula/zula1.jpg');">
    <div class="absolute inset-0 bg-black bg-opacity-50"></div>
    <div class="absolute inset-0 flex items-center justify-center">
        <h1 class="text-4xl md:text-6xl font-bold text-white text-center">Política de Cookies</h1>
    </div>
</section>

<!-- Contenido principal -->
<main class="relative container mx-auto px-4 py-8 max-w-4xl">
    <!-- Fondo con degradado fijo -->
    <div class="fixed inset-0 bg-gradient-to-br from-white to-cyan-200 -z-10"></div>

    <section class="mb-12 lg:flex lg:items-center lg:space-x-8  relative z-10">
        <div class="lg:w-1/2">
            <h2 class="text-3xl font-semibold mb-4">¿Qué son las cookies?</h2>
            <p class="mb-4">Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo (ordenador, teléfono móvil, etc.) cuando visitas nuestro sitio web. Estas cookies nos permiten reconocerte y recordar tus preferencias en futuras visitas, mejorando así tu experiencia de navegación.</p>
        </div>
        <div class="lg:w-1/2 mt-4 lg:mt-0">
            <img src="img/locations/zula/zula1.jpg" alt="Privacidad" class="w-full rounded-lg shadow-md">
        </div>
    </section>

    <section class="mb-12 relative z-10">
        <h2 class="text-3xl font-semibold mb-4">¿Por qué utilizamos cookies en Discovery Mérida?</h2>
        <p class="mb-4">Utilizamos cookies con diversos fines, entre ellos:</p>
        <ul class="list-disc list-inside mb-4 ml-4">
            <li><strong>Personalización</strong>: Adaptar el contenido y la publicidad a tus intereses y preferencias.</li>
            <li><strong>Funcionalidad</strong>: Recordar tus ajustes y preferencias (idioma, moneda, etc.) para que no tengas que introducirlos cada vez.</li>
            <li><strong>Análisis</strong>: Recopilar información sobre cómo utilizas nuestro sitio web para mejorar su rendimiento y funcionalidad.</li>
            <li><strong>Seguridad</strong>: Ayudarnos a detectar y prevenir actividades fraudulentas.</li>
        </ul>
        <img src="img/locations/zula/zula1.jpg" alt="Recopilación de datos" class="w-full h-48 object-cover rounded-lg shadow-md mb-4">
    </section>

    <section class="mb-12 relative z-10">
        <h2 class="text-3xl font-semibold mb-4">¿Qué tipos de cookies utilizamos?</h2>
        <p class="mb-4">Utilizamos diferentes tipos de cookies:</p>
        <ul class="list-disc list-inside mb-4 ml-4">
            <li><strong>Cookies estrictamente necesarias</strong>: Estas cookies son esenciales para que nuestro sitio web funcione correctamente y no pueden ser desactivadas.</li>
            <li><strong>Cookies de rendimiento</strong>: Estas cookies nos ayudan a mejorar el rendimiento de nuestro sitio web recopilando información sobre cómo lo utilizas.</li>
            <li><strong>Cookies de funcionalidad</strong>: Estas cookies permiten que nuestro sitio web recuerde tus elecciones (idioma, moneda, etc.).</li>
            <li><strong>Cookies de publicidad</strong>: Estas cookies se utilizan para mostrarte publicidad relevante.</li>
        </ul>
    </section>

    <section class="mb-12 lg:flex lg:flex-row-reverse lg:items-center lg:space-x-8 lg:space-x-reverse relative z-10">
        <div class="lg:w-1/2">
            <h2 class="text-3xl font-semibold mb-4">¿Cómo controlar las cookies?</h2>
            <p class="mb-4">Puedes controlar y gestionar las cookies a través de la configuración de tu navegador. Sin embargo, ten en cuenta que deshabilitar las cookies puede afectar a la funcionalidad de nuestro sitio web.</p>
        </div>
        <div class="lg:w-1/2 mt-4 lg:mt-0">
            <img src="img/locations/zula/zula1.jpg" alt="Seguridad de datos" class="w-full rounded-lg shadow-md">
        </div>
    </section>

    <section class="mb-20 relative z-10">
        <h2 class="text-3xl font-semibold mb-4">Más información</h2>
        <p class="mb-4">Para obtener más información sobre las cookies y cómo gestionarlas, puedes visitar el sitio web del <a href="https://home.inai.org.mx/" target="_blank" rel="noopener noreferrer" class="font-medium text-cyan-800 hover:text-cyan-500 transition-colors duration-150">Instituto Nacional de la Transparencia (INAI)</a> o consultar la ayuda de tu navegador.</p>
        <h2 class="text-3xl font-semibold mb-4">Cambios en esta política</h2>
        <p class="mb-4">Podemos actualizar esta política de cookies periódicamente. Te recomendamos revisar esta política con regularidad para estar informado de cualquier cambio.</p>
        <img src="img/locations/zula/zula1.jpg" alt="Recopilación de datos" class="w-full h-48 object-cover rounded-lg shadow-md mb-4">
    </section>

    <section class="mb-12 relative z-10">
        <p class="mb-4 text-cyan-800 drop-shadow-lg"><strong>Última actualización</strong>: 11 de octubre de 2024.</p>
    </section>
</main>
