<section class="contact relative h-[700px]">
    <img src="img/locations/matisse/casa-matisse-1.jpg" alt="" class="w-full h-full object-cover">
    <div class="absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center">
      <div class="text-center text-white">
        <h2 class="text-4xl font-semibold mb-4">Estás a un paso de iniciar tu próxima gran aventura.</h2>
        <button routerLink="contact"
          class="bg-cyan-700 hover:bg-cyan-900 text-white px-6 py-3 rounded-md text-lg font-semibold">Contactar</button>
      </div>
    </div>
</section>