<div class="border border-gray-200 rounded-lg mb-4">
    <button (click)="toggleExpanded()" class="flex justify-between items-center w-full p-4 text-left bg-white hover:bg-gray-50 focus:outline-none">
      <span class="font-medium">{{ question }}</span>
      <i [class.rotate-180]="isExpanded" class="ri-arrow-down-s-line transition-transform duration-300"></i>
    </button>
    <div [class.hidden]="!isExpanded" class="p-4 bg-gray-50 transition-all duration-300">
      <p>{{ answer }}</p>
    </div>
</div>
