<!-- Introducción -->
<section class="bg-white py-16 px-4">
    <div class="max-w-5xl mx-auto text-center">
      <h2 class="text- uppercase tracking-wider text-gray-500 mb-4">
        Bienvenidos a nuestra familia
      </h2>
      <p class="text-3xl md:text-4xl font-medium mb-6">
        En Discovery Mérida, nos enorgullecemos de ofrecer experiencias únicas y memorables en alojamientos excepcionales. Desde 2020, hemos estado conectando viajeros con hogares acogedores en los destinos más hermosos. Nuestro compromiso es brindar no solo un lugar para quedarse, sino un hogar lejos del hogar, donde cada detalle está cuidadosamente pensado para su comodidad y disfrute.
      </p>
    </div>
</section>