<main class="flex-grow">
  <!-- Hero Section -->
  <home-hero-section />

  <!-- Top houses -->
  <home-top-houses-section />

  <!-- Top Reviews -->
  <shared-reviews-section />

  <!-- Home Gallery -->
  <section class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold text-center mb-8">Vive la experiencia Discovery</h1>

    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4">
      <!-- Imagen grande -->
      <div class="md:col-span-2 md:row-span-2 gallery__img">
        <img src="img/locations/picasso/casa-picasso-1.jpg" alt=""
          class="w-full h-full object-cover rounded-lg shadow-lg hover:opacity-90 transition duration-300">
      </div>
      <!-- Imágenes más pequeñas -->
      <div class="gallery__img">
        <img src="img/locations/picasso/casa-picasso-2.jpg" alt=""
          class="w-full h-full object-cover rounded-lg shadow-md hover:opacity-90 transition duration-300">
      </div>
      <div class="gallery__img">
        <img src="img/locations/picasso/casa-picasso-3.jpg" alt=""
          class="w-full h-full object-cover rounded-lg shadow-md hover:opacity-90 transition duration-300">
      </div>
      <div class="md:col-span-2 gallery__img">
        <img src="img/locations/dali/casa-dali-1.jpg" alt=""
          class="w-full h-full object-cover rounded-lg shadow-md hover:opacity-90 transition duration-300">
      </div>
      <div class="gallery__img">
        <img src="img/locations/dali/casa-dali-2.jpg" alt=""
          class="w-full h-full object-cover rounded-lg shadow-md hover:opacity-90 transition duration-300">
      </div>
      <div class="gallery__img">
        <img src="img/locations/dali/casa-dali-3.jpg" alt=""
          class="w-full h-full object-cover rounded-lg shadow-md hover:opacity-90 transition duration-300">
      </div>

      <!-- Imagen mediana -->
      <div class="md:col-span-2 gallery__img">
        <img src="img/locations/kitanche/kitanche1.jpg" alt=""
          class="w-full h-full object-cover rounded-lg shadow-lg hover:opacity-90 transition duration-300">
      </div>
    </div>
  </section>

  <!-- FAQ -->
  <shared-faq-section />

  <!-- Formulario de contacto -->
  <home-contact-section />
</main>
