<section class="container mx-auto px-4 py-8">
    <!-- Sección de Casas -->
    <div class="mb-16">
      <h2 class="text-3xl font-bold text-gray-800 mb-6 text-center">Nuestras Casas</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Casa 1 -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden">
          <img [src]="'img/locations/Casa Dali/casa-dali-1.jpg'" alt="Casa Dalí" class="w-full h-48 object-cover">
          <div class="p-4">
            <h3 class="text-xl font-semibold text-gray-800 mb-2">Casa Dalí</h3>
            <p class="text-gray-600">Hermosa Casa de Diseño, mejor ubicación.</p>
          </div>
        </div>
        <!-- Casa 2 -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden">
          <img [src]="'img/locations/Casa Picasso/casa-picasso-1.jpg'" alt="Cabaña Picasso"
            class="w-full h-48 object-cover">
          <div class="p-4">
            <h3 class="text-xl font-semibold text-gray-800 mb-2">Casa Picasso</h3>
            <p class="text-gray-600">Reconocida con premios por su diseño y funcionalidad en el centro de Mérida, simplemente es perfecta para vacacionar o trabajar.</p>
          </div>
        </div>
        <!-- Casa 3 -->
        <div class="bg-white shadow-lg rounded-lg overflow-hidden">
          <img [src]="'img/locations/Casa Toledo/casa-toledo-1.webp'" alt="Casa Toledo"
            class="w-full h-48 object-cover">
          <div class="p-4">
            <h3 class="text-xl font-semibold text-gray-800 mb-2">Casa Toledo</h3>
            <p class="text-gray-600">Un Oasis inimaginable en el corazón de Mérida, a solo unos pasos de Paseo Montejo.
            </p>
          </div>
        </div>
      </div>
    </div>
</section>