<main *ngIf="roomInfo">
    <!-- Hero -->
    <room-hero-section [houseName]="roomInfo.name" [coverPicture]="roomInfo.coverPicture" [airbnbId]="roomInfo.airbnbId" />

    <!-- Banner de promoción -->
    @if (hasPromotion) {
        <section class="bg-gradient-to-r from-cyan-600 to-lime-500 py-12 px-4 sm:px-6 lg:px-8">
            <div class="container mx-auto">
              <div class="overflow-hidden">
                <div class="p-6 sm:p-8">
                  <div class="flex items-center justify-between">
                    <h2 class="text-3xl font-extrabold text-white sm:text-3xl">¡Oferta Especial por temporada!</h2>
                    <div class="hidden sm:block">
                      <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-yellow-100 text-yellow-800">
                        Tiempo limitado
                      </span>
                    </div>
                  </div>
                </div>
                <div class="p-6 sm:p-8">
                  <p class="text-xl sm:text-2xl font-semibold text-gray-100 mb-6">
                    Hospédate 3 noches en {{ roomInfo.name }} y recibe un cupón por <span class="text-red-800 font-bold">$500 MXN</span> para disfrutar en uno de los mejores restaurantes de la ciudad.
                  </p>
                  
                  <div class="mt-6">
                    <h3 class="text-lg font-semibold mb-4 text-gray-50 text-left">Términos y Condiciones</h3>
                    <ul class="space-y-3 text-gray-200">
                      <li class="flex items-start gap-2">
                        <i class="ri-chat-check-fill text-2xl text-yellow-400"></i>
                        Promoción válida por tiempo limitado, exclusivamente en las casas participantes.
                      </li>
                      <li class="flex items-start gap-2">
                        <i class="ri-chat-check-fill text-2xl text-yellow-400"></i>
                        No aplica en días festivos, Semana Santa, ni en el período de Pascua.
                      </li>
                      <li class="flex items-start gap-2">
                        <i class="ri-chat-check-fill text-2xl text-yellow-400"></i>
                        Estancia mínima requerida: 3 noches de hospedaje.
                      </li>
                      <li class="flex items-start gap-2">
                        <i class="ri-chat-check-fill text-2xl text-yellow-400"></i>
                        Encontrarás la información de las casas participantes en este sitio web y realizarás la reserva a través de Airbnb.
                      </li>
                      <li class="flex items-start gap-2">
                        <i class="ri-chat-check-fill text-2xl text-yellow-400"></i>
                        Es necesario ingresar el código de promoción en tu reserva para identificar que llegaste desde nuestra página.
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="flex items-center p-6 sm:p-8">
                    <i class="ri-gift-fill text-yellow-400 text-3xl"></i>
                  <h3 class="ml-3 text-xl text-white sm:text-3xl">Código de promoción: <span class="font-extrabold tracking-wide">DISCOVERYFOOD25</span></h3>
                </div>
              </div>
            </div>
          </section>
    }

    <!-- Description -->
    <room-description-section [description]="roomInfo.description" [picture]="roomInfo.descriptionPicture" [pictureAlt]="roomInfo.name" />

    <!-- Gallery -->
    <room-gallery-section [pictures]="roomInfo.gallery" [pictureAlt]="roomInfo.name" />
    
    <!-- Principales amenidades de la casa -->
    <room-amenities-section [amenities]="roomInfo.amenities" />

    <!-- Google Maps -->
    <room-map-section [avgCoords]="roomInfo.avgCoords" />
    
    <!-- Reviews -->
    @if (roomInfo.reviews) {
      <shared-reviews-section [topReviews]="roomInfo.reviews" />
    }

    <section class="bg-gradient-to-br from-cyan-600 to-cyan-800 py-12 px-4 sm:px-6 lg:px-8">
      <div class="max-w-4xl mx-auto">
          <div class="bg-gradient-to-r from-white to-cyan-50 rounded-lg shadow-xl overflow-hidden">
              <div class="md:flex">
                  <div class="md:flex-shrink-0">
                      <img class="h-48 w-full object-cover md:h-full md:w-48" [src]="roomInfo.coverPicture" [alt]="roomInfo.name">
                  </div>
                  <div class="p-8">
                      <div class="uppercase tracking-wide text-sm text-cyan-900 font-semibold">
                          Disponible en Airbnb
                      </div>
                      <h2 class="block mt-1 text-2xl leading-tight font-bold text-cyan-700">
                          {{ roomInfo.name }}
                      </h2>
                      <p class="mt-2 text-slate-500">
                        En Vanguardia y Calidad estaremos encantados de ser sus anfitriones en Merida.
                      </p>
                      <a [href]="'https://www.airbnb.mx/rooms/' + roomInfo.airbnbId" 
                         class="mt-4 inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-md text-white bg-cyan-700 hover:bg-cyan-800 transition duration-150 ease-in-out"
                         target="_blank" 
                         rel="noopener noreferrer">
                          Ver en Airbnb
                      </a>
                  </div>
              </div>
          </div>
      </div>
    </section>


    <!-- Formulario de contacto -->
    <shared-contact-section [coverPicture]="roomInfo.coverPicture" />
</main>
