<main *ngIf="roomInfo">
    <!-- Hero -->
    <room-hero-section [houseName]="roomInfo.name" [coverPicture]="roomInfo.coverPicture" />

    <!-- Description -->
    <room-description-section [description]="roomInfo.description" [picture]="roomInfo.descriptionPicture" [pictureAlt]="roomInfo.name" />

    <!-- Gallery -->
    <room-gallery-section [pictures]="roomInfo.gallery" [pictureAlt]="roomInfo.name" />
    
    <!-- Principales amenidades de la casa -->
    <room-amenities-section [amenities]="roomInfo.amenities" />

    <!-- Google Maps -->
    <room-map-section [avgCoords]="roomInfo.avgCoords" />
    
    <!-- Reviews -->
    @if (roomInfo.reviews) {
      <shared-reviews-section [topReviews]="roomInfo.reviews" />
    }

    <!-- Formulario de contacto -->
    <shared-contact-section [coverPicture]="roomInfo.coverPicture" />
</main>
