<section class="py-12">
    <!-- Fotos de la casa  -->
    <div class="container mx-auto px-4 py-8">
      <h2 class="text-3xl font-bold text-center mb-8 text-gray-800">Tu próxima experiencia de lujo</h2>
      <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-4">
        <div class="relative overflow-hidden rounded-lg shadow-lg col-span-2 row-span-2 lg:row-span-3 h-full">
            <img [src]="pictures[0]" [alt]="pictureAlt" class="w-full h-full object-cover transition duration-300 ease-in-out transform hover:scale-110">
        </div>
        <div class="relative overflow-hidden rounded-lg shadow-lg col-span-2 sm:col-span-1 sm:row-span-2">
            <img [src]="pictures[1]" [alt]="pictureAlt" class="w-full h-full object-cover transition duration-300 ease-in-out transform hover:scale-110">
        </div>
        <div class="relative overflow-hidden rounded-lg shadow-lg col-span-2 sm:col-span-1 sm:row-span-2">
            <img [src]="pictures[2]" [alt]="pictureAlt" class="w-full h-full object-cover transition duration-300 ease-in-out transform hover:scale-110">
        </div>
        <div class="relative overflow-hidden rounded-lg shadow-lg col-span-2 md:col-span-1">
            <img [src]="pictures[3]" [alt]="pictureAlt" class="w-full h-full object-cover transition duration-300 ease-in-out transform hover:scale-110">
        </div>
        <div class="relative overflow-hidden rounded-lg shadow-lg col-span-2 md:col-span-1">
            <img [src]="pictures[4]" [alt]="pictureAlt" class="w-full h-full object-cover transition duration-300 ease-in-out transform hover:scale-110">
        </div>
        <div class="relative overflow-hidden rounded-lg shadow-lg col-span-2 sm:col-span-3 md:col-span-2 md:row-span-2">
            <img [src]="pictures[5]" [alt]="pictureAlt" class="w-full h-full object-cover transition duration-300 ease-in-out transform hover:scale-110">
        </div>
        <div class="relative overflow-hidden rounded-lg shadow-lg col-span-2 sm:col-span-3 md:col-span-2">
            <img [src]="pictures[6]" [alt]="pictureAlt" class="w-full h-full object-cover transition duration-300 ease-in-out transform hover:scale-110">
        </div>
      </div>
    </div>
</section>
